<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla::head">
</head>
<body>
	<header th:replace="plantilla/plantilla::header"> </header>

	<div class="container">
		<h1 th:text="${titulo}">Cualquier texto</h1>

		<h3>LISTA</h3>

		<div>
			<ul>
				<li th:each="prod : ${productos}"
					th:text="${prod.id} + ' - ' + ${prod.nombre}"></li>
			</ul>
		</div>

		<H3>TABLA</H3>
		<table border="1" th:if="${productos != null}">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>PRECIO</th>
					<th>STOCK</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod : ${productos}">
					<td th:text="${prod.id}"></td>
					<td th:text="${prod.nombre}"></td>
					<td th:text="${prod.precio}"></td>
					<td th:text="${prod.stock}"></td>
				</tr>
			</tbody>

		</table>
		<div th:unless="${productos != null}">No hay productos que
			mostrar.</div>
	</div>

	<footer th:replace="plantilla/plantilla::footer"> </footer>
</body>
</html>

