/Clase01_18-10-2021/AprendiendoJava/nbproject/private/
/Clase01_18-10-2021/AprendiendoJava/build/
/Clase02_19OCT21/Oliver/Ejercicio05/build/
/Clase02_19OCT21/Oliver/Ejercicio05/nbproject/private/
/Clase02_19OCT21/JoseFranco/AprendiendoJava/build/
/Clase02_19OCT21/JoseFranco/AprendiendoJava/dist/
/Clase02_19OCT21/JoseFranco/AprendiendoJava/nbproject/private/
/Clase02_19OCT21/AprendiendoJava/nbproject/private/
/Clase02_19OCT21/AprendiendoJava/build/
/Clase03_22OCT21/AprendiendoJava/nbproject/private/
/Clase03_22OCT21/AprendiendoJava/build/
/Clase03_22OCT21/Grupo01/Practica4/build/
/Clase03_22OCT21/Grupo01/Practica4/nbproject/private/
/PedidoApp/nbproject/private/
/PedidoApp/build/
/Clase05_26OCT21/Clase3Java/nbproject/private/
/Clase05_26OCT21/Clase3Java/build/
/Clase05_26OCT21/EduTecLib/nbproject/private/
/Clase05_26OCT21/EduTecLib/build/
/Clase05_26OCT21/PromedioApp/nbproject/private/
/Clase05_26OCT21/EduTecLib/dist/
/Clase05_26OCT21/PromedioApp/build/
/Clase06_29OCT21/Clase06/nbproject/private/
/Clase06_29OCT21/Clase06/build/
/Clase06_29OCT21/MateApp/nbproject/private/
/Clase06_29OCT21/MateApp/build/
/Clase07_01NOV21/Clase07/nbproject/private/
/Clase07_01NOV21/Clase07/build/
/Clase08_02NOV21/Clase08Demos/nbproject/private/
/Clase08_02NOV21/Clase08Demos/build/
/Clase09_05NOV21/EurekaApp/nbproject/private/
/Clase09_05NOV21/EurekaApp/build/
/Clase11_09NOV21/EurekaApp/build/
/Clase11_09NOV21/EurekaApp/nbproject/private/
/Clase11_09NOV21/EurekaApp/dist/
/Clase11_09NOV21/EurekaAppIGH/build/
/Clase11_09NOV21/EurekaAppIGH/nbproject/private/
/Clase11_09NOV21/EurekaAppBB/build/
/Clase11_09NOV21/EurekaAppBB/nbproject/private/
/Clase11_09NOV21/EurekaAppAA/build/
/Clase11_09NOV21/EurekaAppAA/dist/
/Clase11_09NOV21/EurekaAppAA/nbproject/private/
/Clase11_09NOV21/EurekaApp/target/
/Clase11_09NOV21/OK/EurekaApp/build/
/Clase11_09NOV21/OK/EurekaApp/dist/
/Clase11_09NOV21/OK/EurekaApp/nbproject/private/
/Clase11_09NOV21/OK-NetBens_8.2/EurekaApp/build/
/Clase11_09NOV21/OK-NetBens_8.2/EurekaApp/dist/
/Clase11_09NOV21/OK-NetBens_8.2/EurekaApp/nbproject/private/
/Clase12_12NOV21/Demo01/target/
/Clase12_12NOV21/Ejemplo01/target/
